/* .floor-card {
  width: 250px;
  padding: 16px;
  text-align: center;
  border-radius: 8px;
}

.floor-info {
  font-size: 14px;
  margin: 4px 0;
}

.floor-button {
  margin-top: 12px;
  background-color: #0073e7;
  color: white;
} */