/* FloorWiseDataTable.css */

/* Container */
.table-container {
    margin-top: 16px;
}


/* Table Header */
.header-row {
    background-color: #ffffff;
}

/* Table Row */
.body-row {
    background-color: #f0f1f6;
}

/* Table Cell */
.table-cell {
    border: 1px solid #ccc;
    text-align: center;
}

/* Table Cell */
.table-cell1 {
    text-align: center;
}

/* Icons */
.status-icon {
    display: block;
    margin: 0 auto;
    width: 24px;
    height: 24px;
}


/* Zone Column - Fixed Width */
.zone-cell {
    width: 8rem; /* Fixed width */
    min-width: 8rem;
    max-width: 8rem;
    white-space: nowrap; /* Prevents text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if content is too long */
}

/* Location Column - Fixed Width */
.location-cell {
    width: 20rem; /* adjust accroding to teh requirement */
    min-width: 20rem;
    max-width: 20rem;
    overflow: hidden;
    text-overflow: ellipsis; /* Adds "..." if content is too long */
}


