.parameter-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 1.25rem;
    /* padding-top: 1.25rem; */
  }
  
  .parameter-card {
    flex: 1;
    width: 27.19rem;
    height: auto;
    background-color: white;
  }

  .section-title{
    
    margin-top: 1rem;
  }
  
  