/* Full-screen loader container */
.loader-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  z-index: 9999;
}

/* HVS Loader with larger size and thick lines */
.large-thick-loader {
  width: 80px !important;
  height: 80px !important;
}

.large-thick-loader svg path {
  stroke-width: 200px !important;
  animation: colorChange 1.5s infinite alternate;
}

/* Animation for alternating colors */
@keyframes colorChange {
  0% { stroke: black; }
  100% { stroke: green; }
}

/* Loading text */
.loader-text {
  /* margin-top: 5px; */
  color: #000;
  font-weight: bold;
  font-size: 22px;
}
