.sensor-legend {
  display: flex;
  align-items: center;
  width: 427px;
  height: 22px;
}
.sensor-legend {
  display: flex;
  width: 427px;
  height: 22px;
  flex-wrap: wrap;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  align-content: space-between;
  margin-top: 0.3rem;
}

/* Legend item styling */
.legend-item {
  display: flex;
  align-items: center;
  text-align: left;
  font: normal normal 600 16px/22px Open Sans;
  letter-spacing: 0.02px;
  color: #414141;
  opacity: 1;
}

/* Colored circle */
.legend-circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.3rem;
}

.HvTypography{
 color:  #E8E8E8;
}

/* Label styling */
.legend-label {
  font-size: 14px;
  color: #555;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .sensor-legend {
    width: 100%;
    gap: 10px;
    justify-content: center;
  }

  .legend-label {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  .sensor-legend {
    flex-direction: column;
    align-items: flex-start;
  }
}
